body {
  margin: 0;
  /* All 4 margins */
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

.normal-weight {
  font-weight: normal;
}

.underlined-span {
  text-decoration: underline;
}
.square {
  height: 200px;
  width: 200px;
}

.top-container {
/*  background-color: #8fc0a9; */
  background-color: powderblue;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.scrabble-image {
  height: 200px;
}
.running-image {
  width: 200px;
}
